@import "../../../../../styles/main.less";

.categoriesGridShimmer {
  --col-count: 2;
  --row-gap: 16px;
  --col-gap: 16px;
  display: grid;
  grid-template-columns: repeat(
    var(--col-count),
    calc(
      (100% / var(--col-count)) -
        (var(--col-gap) * (var(--col-count) - 1) / var(--col-count))
    )
  );
  gap: var(--row-gap) var(--col-gap);

  // Mobile up - 4 columns for categories (matches card-list.less)
  @media @mobile-up {
    --col-count: 4;
    --row-gap: 16px;
    --col-gap: 24px;
  }
}
